@use "/src/styles/abstract/mixins";
@use "/src/styles/abstract/variaveis";

.container-list {
  padding: 0;
  margin-top: 40px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
  .list-item {
    @include mixins.paragraph();
    display: flex;
    padding: 0 12px;
    justify-content: space-between;
    background-color: variaveis.$bg-secondary;
    border-radius: 12px;
    &-btn {
      border: none;
      background: none;
      color: variaveis.$border-hover;
      cursor: pointer;
      &:hover {
        color: variaveis.$content-tertiary;
      }
    }
  }
}
