@use "/src/styles/abstract/variaveis";

@mixin font($fs, $fw, $lh) {
  font-family: variaveis.$font-primary;
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
}

@mixin title() {
  @include font(1.5rem, 800, 3rem);
}

@mixin label() {
  @include font(1rem, 600, 1.25rem);
}

@mixin paragraph() {
  @include font(1rem, 500, 1.25rem);
}

@mixin link() {
  @include font(0.875rem, 500, 1rem);
}

@mixin btn-primary() {
  @include label();
  color: variaveis.$always-white;
  background-color: variaveis.$color-brand;
  border: none;
  height: 44px;
  padding: 10px 24px;
  border-radius: 12px;
}

@mixin input-primary() {
  @include label();
  color: variaveis.$content-tertiary;
  padding: 0 18px;
  border-radius: 0.75rem;
  border: 2px solid variaveis.$border-primary;
  background: variaveis.$bg-secondary;
  height: 2.75rem;
}
