@use "/src/styles/abstract/mixins";
@use "/src/styles/abstract/variaveis";

@use "./components/navbar";

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  background-color: aqua;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
