@use "./abstract/reset";
@use "./abstract/variaveis";
@use "./abstract/mixins";

@use "./components/navbar";
@use "./components/form";
@use "./components/list";
@use "./components/alert";

@use "./layouts/checkbox";

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  background-color: variaveis.$bg-primary;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  overflow-y: auto;
  height: 100vh;
}
