@use "/src/styles/abstract/mixins";
@use "/src/styles/abstract/variaveis";

.container-list {
  list-style: none;
  padding: 0;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
}

.list-item-checkbox {
  display: none;
}

/* Label como checkbox estilizado */
.checkbox-wrapper label {
  width: 16px;
  height: 16px;
  border: 2px solid variaveis.$border-primary;
  border-radius: 8px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease;
  background-color: white;
}

/* Check em V usando pseudo-elemento */
.checkbox-wrapper label::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  top: 2px;
  left: 5px;
  opacity: 0;
  transition: opacity 0.2s ease;
}

/* Quando marcado */
.list-item-checkbox:checked + label {
  background-color: variaveis.$color-brand; /* fundo rosa */
  border-color: variaveis.$color-brand;
}

.list-item-checkbox:checked + label::after {
  opacity: 1; /* mostrar o V branco */
}

/* Texto riscado e cinza */
.list-item-checkbox:checked ~ .list-item-text {
  text-decoration: line-through;
  color: variaveis.$border-hover;
}
